@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

/* Media queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 991px) {
    .login-container{
        margin-left: 50px;
        margin-right: 50px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .login-container {
        margin-left: 150px;
        margin-right: 150px;
  }
}

.login-image {
    width: 80%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.checkbox {
    cursor: pointer;
    display: block;
    font-size: 14px; 
    margin-bottom: 15px;
    padding-left: 30px;
    position: relative;
}

.checkbox span {
    position: relative;
    top: 0.2rem;
    color: #888;
}

.checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.login-header {
    background-color: #7068fb;
    color: white;
    padding: 20px;
    text-align: left;
    width: 100%;
}